# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
tmp/
*~
Sockets-config
*.pc
libSockets.so.*
Sockets-*.tar.gz
Makefile.apt
slask*
fel
fil
examples/simple-http-server-demo/simple_http_server
examples/simple-http-server-demo/output.html

examples/simple-http-server-demo/tests/http_server_test

# more binaries
examples/Sockets
examples/base64
examples/chunked
examples/copy
examples/crlf
examples/echoserver
examples/events
examples/http
examples/http_post
examples/httpd
examples/httpd_test
examples/https
examples/listener
examples/resolve
examples/resume
examples/retry
examples/scanr
examples/semtest
examples/sloppy_http
examples/sockets_test
examples/stressclient
examples/threadstress
examples/x
examples/bind_address
examples/detach
examples/httpget
examples/json
examples/udp

# cppunit test suites
tests/json_tests
tests/socket_handler_ep_tests

# ignore dist folder content
dist/
examples/artifact-demo/dist/
