# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
tmp/
*~
Sockets-config
*.pc
libSockets.so.*
Sockets-*.tar.gz
Makefile.apt
slask*
fel
fil
demo/simple_http_server
demo/output.html

demo/tests/http_server_test

# more binaries
src/tests/Sockets
src/tests/base64
src/tests/chunked
src/tests/copy
src/tests/crlf
src/tests/echoserver
src/tests/events
src/tests/http
src/tests/http_post
src/tests/httpd
src/tests/httpd_test
src/tests/https
src/tests/listener
src/tests/resolve
src/tests/resume
src/tests/retry
src/tests/scanr
src/tests/semtest
src/tests/sloppy_http
src/tests/sockets_test
src/tests/stressclient
src/tests/threadstress
src/tests/x
src/tests/bind_address
src/tests/detach
src/tests/httpget
src/tests/json
src/tests/udp

# cppunit test suites
tests/json_tests
tests/socket_handler_ep_tests

# ignore dist folder content
dist/
examples/artifact-demo/dist/
